{% extends "layouts/base.html" %}
{% block title %} My Applications {% endblock %} 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
<div class="col-md-12">
    <div class="card flex-fill">
        <div class="card-body table-full-width">
            <div class="card-header">
                <div class="card-actions float-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#defaultModalPrimary">
                        Apply
                    </button>

                    <div class="modal fade" id="defaultModalPrimary" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form method="post">{% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">Application Form</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body m-3">
                                        
                                        {{ form.as_p }}
                                       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Apply Now</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="card-title mb-0">My Applications</h5>
            </div>
            <table id="bootstrap-table" class="table table-striped my-0">
                <thead>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="name" data-sortable="true">Application Number</th>
                    <th data-field="name" data-sortable="true">Applicant</th>
                    <th data-field="mobile_number" data-sortable="true">Mobile Number</th>
                    <th data-field="salary" data-sortable="true">Project Name</th>
                    <th data-field="country" data-sortable="true">Application Date</th>
                    <th data-field="location" data-sortable="true">Location</th>
                    <th data-field="city">Status</th>
                    <th>Actions</th>
                    <!-- <th data-field="actions" class="td-actions text-right" data-events="operateEvents" data-formatter="operateFormatter">Actions</th> -->
                </thead>
                <tbody>
                    {% if applications %}
                        {% for app in applications %}
                            <tr>
                                <td></td>
                                <td><a href="/application/{{ app.id }}">{{ app.application_no }}</a></td>
                                <td>{{ app.full_name }}</td>
                                <td>{{ app.mobile_number }}</td>
                                <td>{{ app.project_name }}</td>
                                <td>{{ app.application_date }}</td>
                                <td>{{ app.subcounty }}</td>
                                <td>
                                    {% if app.status == 'PENDING' %} 
                                        <span class="badge badge-pill badge-warning">Pending</span>
                                    {% elif app.status == 'APPROVED' %}
                                        <span class="badge badge-pill badge-success">Approved</span>
                                    {% elif app.status == 'CANCELLED' %}
                                        <span class="badge badge-pill badge-danger">Cancelled</span>
                                    {% endif %}
                                </td>
                                <td class="table-action">
                                    <a href="/application/update/{{ app.id }}"><i class="align-middle fas fa-fw fa-pen"></i></i></a>
                                    <a href="#"><i class="align-middle fas fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                            
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
