{% extends "layouts/base.html" %}

{% block title %} Apply {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="col-md-12 col-sm-6">
    <div class="card stacked-form">
        <form role="form" method="post" action="">
            {% csrf_token %}

            <div class="form-group">
                <div class="col-md-12 ">
                    <label for="project_name">{{ form.project_name.label }}</label>
                    {{ form.project_name }}
                </div>
            </div>
            <span class="text-error">{{ form.project_name.errors }}</span>

            <div class="form-group">
                <div class="col-md-12 ">
                    <label for="project_description">{{ form.project_description.label }}</label>
                    {{ form.project_description }}
                </div>
            </div>
            <span class="text-error">{{ form.project_description.errors }}</span>

            <div class="form-group">
                <div class="col-md-12 ">
                    <label for="project_sector">{{ form.project_sector.label }}</label>
                    {{ form.project_sector }}
                </div>
            </div>
            <span class="text-error">{{ form.project_sector.errors }}</span>

            <div class="form-group">
                <div class="col-md-12 ">
                    <label for="people_impacted">{{ form.people_impacted.label }}</label>
                    {{ form.people_impacted }}
                </div>
            </div>
            <span class="text-error">{{ form.people_impacted.errors }}</span>
            <div class="card-footer ">
                <button type="submit" class="btn btn-fill btn-info">Apply</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
