{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="row">
    <div class="col-md-3 col-xl-2">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Profile Settings</h5>
            </div>

            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">
                    Account
                </a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                    Password
                </a>
            </div>
        </div>
        <!-- <div class="text-center">
            <img alt="{{ obj.first_name }}" src="{{ obj.profile_picture.url }}" class="rounded-circle img-responsive mt-2" width="128" height="128" />
            <div class="mt-2">
                <span class="btn btn-primary"><i class="fas fa-upload"></i> Upload</span>
            </div>
        </div> -->
    </div>

    <div class="col-md-9 col-xl-10">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">

                <div class="card">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <a href="#" class="mr-1">
                                <i class="align-middle" data-feather="refresh-cw"></i>
                            </a>
                            <div class="d-inline-block dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <i class="align-middle" data-feather="more-vertical"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Private info</h5>
                    </div>
                    <div class="card-body">
                        <form class="form" method="post" action="#" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="first_name">{{ form.first_name.label }}</label>
                                    {{ form.first_name }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="last_name">{{ form.last_name.label }}</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">{{ form.email.label}}</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="id_number">{{ form.id_number.label}}</label>
                                    {{ form.id_number }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="birth_date">{{ form.birth_date.label}}</label>
                                    {{ form.birth_date }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="gender">{{ form.gender.label}}</label>
                                    {{ form.gender }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                {{ form.location }}
                            </div>
                            <div class="form-group">
                                <label for="project_name">{{ form.bio.label }}</label>
                                {{ form.bio }}
                            </div>
                            <div class="form-group">
                                <label for="avatar">{{ form.avatar.label }}</label>
                                {{ form.avatar }}
                            </div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>

                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="password" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Password</h5>

                        <form>
                            {% csrf_token %}
                            {{ form_pwd.as_p }}
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
