<nav id="sidebar" class="sidebar">
    <a class="sidebar-brand" href="/">
    <!-- <svg>
        <use xlink:href="#ion-ios-pulse-strong"></use>
    </svg> -->
    ChangeMaker Network
    </a>
    <div class="sidebar-content">
        <div class="sidebar-user">
            {% if request.user.profile.avatar %}
                <img src="{{ request.user.profile.avatar.url }}" class="img-fluid rounded-circle mb-2" alt="{{ request.user.profile.full_name }}" />
            {% endif %}
            <div class="font-weight-bold">{{ request.user.profile.full_name }}</div>
            <small>{{ request.user.mobile_number }}</small>
        </div>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Main
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/">
                    <i class="align-middle mr-2 fas fa-fw fa-home"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/application/">
                    <i class="align-middle mr-2 fas fa-fw fa-user-check"></i> <span class="align-middle">My Applications</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/sms/">
                    <i class="align-middle mr-2 fas fa-fw fa-envelope-open"></i> <span class="align-middle">Messages</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/profile/settings/">
                    <i class="align-middle mr-2 fas fa-fw fa-users-cog"></i> <span class="align-middle">Settings</span>
                </a>
            </li>

            <!-- <li class="sidebar-item active">
                <a href="#pages" data-toggle="collapse" class="sidebar-link">
                    <i class="align-middle mr-2 fas fa-fw fa-file"></i> <span class="align-middle">Pages</span>
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse show" data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-settings.html">Settings</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-clients.html">Clients <span class="sidebar-badge badge badge-pill badge-primary">New</span></a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-invoice.html">Invoice</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-pricing.html">Pricing</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-tasks.html">Tasks</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-chat.html">Chat <span class="sidebar-badge badge badge-pill badge-primary">New</span></a></li>
                    <li class="sidebar-item active"><a class="sidebar-link" href="pages-blank.html">Blank Page</a></li>
                </ul>
            </li> -->

    </div>
</nav>